@mixin background-card($width, $height) {
  width: $width; 
  height: $height;
  background-size: contain;
  // border: 1px solid orange;
  background-repeat: no-repeat;
  background-position: center center;   
}