.about
  .biography 
    .biography__title Устинов Дмитрий Сергеевич
    .biography__description.
      Родился 9 июня 1995 года
      <br /><br />
      Обожает программирование. В прошлом активно занимался профессиональной поэзией. <br />
      Увлечений более 40. Но одно пережило всех - IT. <br />
      <br /><br />
      В студенческие годы снимался и снимал фильмы, играл в театре, пытался стать киберспортсменом, ходил на вокал. <br />
      <br /><br />
      В университет пошел <br />
      <br /><br />
      До универа увлекался биологией ходил в кружок и фотографией А такжпе спортом - кикбокс айкидо
  .face
    img(src=`${media_path}/images/inStudio.jpg` style=`width: 500px; height: 700px;`)