.zoom-photo-area
  .zoom-photo-area__content
    .zoom-photo-area__close-icon
      img(src=`${media_path}/icons/close-icon-color-red.svg` alt="close window modal")
    .zoom-photo-area__main 
      .zoom-photo-area__main-content
    .zoom-photo-area__signature в Домбае