include ../common/mixins

.video-gallery
  .video-gallery-content
    .video-gallery-content__prev-btn Назад
    .video-gallery-content__main
      +video_collection()
    .video-gallery-content__next-btn Вперёд